<h1 class="mt-4"> Agendamentos </h1>
<br />
<div class="row">
    <div class="col-md-3">
        <div class="col-md-4">
            <button class="mat-button" mat-raised-button color="accent" (click)="novoCadastroAgendamento()"> +
                Novo</button>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <div class="col-md-2">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                </ng-container>
            </div>
            <!-- Progress Column -->
            <ng-container matColumnDef="conta_origem.agencia">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Agência </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.conta_origem.agencia}}</mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="conta_origem.numero_conta">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Conta </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.conta_origem.numero_conta}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="conta_destino.agencia">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Agência Destino </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.conta_destino.agencia}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="conta_destino.numero_conta">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Conta Destino </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.conta_destino.numero_conta}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="tipo_transacao">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Transação </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.tipo_transacao}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="valor">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Valor</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.valor}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="valor_taxa">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Valor Total Taxa</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.valor_taxa}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="valor_total">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Valor Total Transação</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.valor_total}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="data_agendamento">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Data Agendamento</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.data_agendamento}} </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <ng-container matColumnDef="data_tansacao">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Data Transação</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.data_transacao}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" [pageIndex]="0" [pageSize]="10"
            [length]="totalSize" (page)="getNext($event)" showFirstLastButtons="true">
        </mat-paginator>
    </div>
</div>