<h1 class="mt-4"> Contas </h1>
<br />
<form #contaForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="sucess == true">
                Conta criada com sucesso!
            </div>

            <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                {{erro.mensagem}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Agência</label>
                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" class="form-control"
                    [(ngModel)]="conta.agencia" name="agencia" minlength="4" maxlength="4" required />
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Conta</label>
                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" class="form-control"
                    [(ngModel)]="conta.conta" name="conta" minlength="6" maxlength="6" required />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-save"></i> Salvar
            </button>
        </div>
    </div>
</form>