<h1 class="mt-4"> Contas </h1>
<br />
<form [formGroup]='contaForm' (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="sucess == true">
                Conta criada com sucesso!
            </div>

            <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                {{erro.mensagem}}
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4 my-3">
            <div class="form-group">
                <mat-form-field class="agencia">
                    <label>Agência</label>
                    <input matInput formControlName="agencia" minlength="4" maxlength="4" required
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '')" />
                    <mat-error *ngIf="contaForm.get('agencia')?.hasError('required')">Agência é obrigatório
                        !</mat-error>
                    <mat-error *ngIf="contaForm.get('agencia')?.hasError('minlength')">Agência deve ter 3
                        digitos !</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="col-4 my-3">
            <div class="form-group">
                <mat-form-field class="conta">
                    <label>Conta</label>
                    <input matInput formControlName="conta" minlength="6" maxlength="6" required
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '')" />
                    <mat-error *ngIf="contaForm.get('conta')?.hasError('required')">Conta é obrigatório !</mat-error>
                    <mat-error *ngIf="contaForm.get('conta')?.hasError('minlength')">Conta deve ter 6
                        digitos !</mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button [disabled]="!contaForm.valid" type="submit" class="btn btn-success">
                <i class="fa fa-save"></i> Salvar
            </button>
        </div>
    </div>
</form>