<h1 class="mt-4"> Contas </h1>
<br />
<div class="row-button">
    <div class="col-md-4">
        <button class="mat-button" mat-raised-button color="accent" (click)="novoCadastroConta()"> + Novo</button>
    </div>

</div>
<br />
<div class="row">
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="contasLista" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>

            <!-- Agencia Column -->
            <ng-container matColumnDef="agencia">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Agencia </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.agencia}} </mat-cell>
            </ng-container>

            <!-- Numero Conta Column-->
            <ng-container matColumnDef="numero_conta">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Número Conta </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.numero_conta}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="size" [pageSizeOptions]="[5, 10, 25, 100]" [length]="totalSize">
        </mat-paginator>
    </div>
</div>